# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('./Resources/applicants_data.csv')

# Review the DataFrame
display(applicant_data_df.head())
display(applicant_data_df.tail())

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
display(applicant_data_df.head())
display(applicant_data_df.tail())

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.columns[applicant_data_df.dtypes=='object'])

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data

/Users/venkataaditya/anaconda3/lib/python3.11/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                         columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
display(encoded_df.head())
display(encoded_df.tail())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,applicant_data_df.drop(columns=categorical_variables)],axis=1)

# Review the Dataframe
display(encoded_df.head())
display(encoded_df.tail())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
display(y.head())
display(y.tail())

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
display(X.head())
display(X.tail())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = X_train.shape[1]

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  10

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

10

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  10

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

10

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(hidden_nodes_layer1, activation='relu', input_dim = number_input_features))

In [21]:
# Add the second hidden layer
nn.add(Dense(hidden_nodes_layer2, activation='relu'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(number_output_neurons,activation='sigmoid'))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 10)                1170

 dense_1 (Dense)             (None, 10)                110

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1291 (5.04 KB)
Trainable params: 1291 (5.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [25]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled,y_train,validation_data=(X_test_scaled, y_test),epochs=50, verbose=2)

Epoch 1/50
804/804 - 0s - loss: 0.6011 - accuracy: 0.6929 - val_loss: 0.5670 - val_accuracy: 0.7266 - 472ms/epoch - 587us/step
Epoch 2/50
804/804 - 0s - loss: 0.5598 - accuracy: 0.7271 - val_loss: 0.5601 - val_accuracy: 0.7265 - 270ms/epoch - 336us/step
Epoch 3/50
804/804 - 0s - loss: 0.5545 - accuracy: 0.7306 - val_loss: 0.5584 - val_accuracy: 0.7289 - 272ms/epoch - 338us/step
Epoch 4/50
804/804 - 0s - loss: 0.5522 - accuracy: 0.7316 - val_loss: 0.5571 - val_accuracy: 0.7298 - 270ms/epoch - 336us/step
Epoch 5/50
804/804 - 0s - loss: 0.5507 - accuracy: 0.7303 - val_loss: 0.5558 - val_accuracy: 0.7293 - 271ms/epoch - 336us/step
Epoch 6/50
804/804 - 0s - loss: 0.5490 - accuracy: 0.7308 - val_loss: 0.5556 - val_accuracy: 0.7292 - 271ms/epoch - 337us/step
Epoch 7/50
804/804 - 0s - loss: 0.5481 - accuracy: 0.7323 - val_loss: 0.5563 - val_accuracy: 0.7256 - 271ms/epoch - 337us/step
Epoch 8/50
804/804 - 0s - loss: 0.5472 - accuracy: 0.7310 - val_loss: 0.5556 - val_accuracy: 0.7270 - 271ms/epoch - 337us/step
Epoch 9/50
804/804 - 0s - loss: 0.5463 - accuracy: 0.7322 - val_loss: 0.5547 - val_accuracy: 0.7292 - 271ms/epoch - 337us/step
Epoch 10/50
804/804 - 0s - loss: 0.5457 - accuracy: 0.7322 - val_loss: 0.5576 - val_accuracy: 0.7297 - 269ms/epoch - 335us/step
Epoch 11/50
804/804 - 0s - loss: 0.5454 - accuracy: 0.7332 - val_loss: 0.5565 - val_accuracy: 0.7292 - 269ms/epoch - 335us/step
Epoch 12/50
804/804 - 0s - loss: 0.5450 - accuracy: 0.7339 - val_loss: 0.5555 - val_accuracy: 0.7294 - 270ms/epoch - 335us/step
Epoch 13/50
804/804 - 0s - loss: 0.5443 - accuracy: 0.7323 - val_loss: 0.5548 - val_accuracy: 0.7273 - 272ms/epoch - 338us/step
Epoch 14/50
804/804 - 0s - loss: 0.5438 - accuracy: 0.7327 - val_loss: 0.5569 - val_accuracy: 0.7300 - 271ms/epoch - 337us/step
Epoch 15/50
804/804 - 0s - loss: 0.5439 - accuracy: 0.7332 - val_loss: 0.5553 - val_accuracy: 0.7294 - 270ms/epoch - 335us/step
Epoch 16/50
804/804 - 0s - loss: 0.5435 - accuracy: 0.7337 - val_loss: 0.5560 - val_accuracy: 0.7297 - 269ms/epoch - 335us/step
Epoch 17/50
804/804 - 0s - loss: 0.5434 - accuracy: 0.7331 - val_loss: 0.5551 - val_accuracy: 0.7297 - 273ms/epoch - 339us/step
Epoch 18/50
804/804 - 0s - loss: 0.5433 - accuracy: 0.7332 - val_loss: 0.5553 - val_accuracy: 0.7313 - 272ms/epoch - 339us/step
Epoch 19/50
804/804 - 0s - loss: 0.5429 - accuracy: 0.7322 - val_loss: 0.5556 - val_accuracy: 0.7303 - 270ms/epoch - 336us/step
Epoch 20/50
804/804 - 0s - loss: 0.5426 - accuracy: 0.7345 - val_loss: 0.5561 - val_accuracy: 0.7313 - 270ms/epoch - 336us/step
Epoch 21/50
804/804 - 0s - loss: 0.5419 - accuracy: 0.7335 - val_loss: 0.5554 - val_accuracy: 0.7320 - 271ms/epoch - 337us/step
Epoch 22/50
804/804 - 0s - loss: 0.5423 - accuracy: 0.7338 - val_loss: 0.5540 - val_accuracy: 0.7308 - 271ms/epoch - 337us/step
Epoch 23/50
804/804 - 0s - loss: 0.5419 - accuracy: 0.7338 - val_loss: 0.5542 - val_accuracy: 0.7318 - 271ms/epoch - 336us/step
Epoch 24/50
804/804 - 0s - loss: 0.5418 - accuracy: 0.7339 - val_loss: 0.5563 - val_accuracy: 0.7282 - 270ms/epoch - 336us/step
Epoch 25/50
804/804 - 0s - loss: 0.5413 - accuracy: 0.7355 - val_loss: 0.5572 - val_accuracy: 0.7283 - 270ms/epoch - 335us/step
Epoch 26/50
804/804 - 0s - loss: 0.5418 - accuracy: 0.7345 - val_loss: 0.5573 - val_accuracy: 0.7292 - 268ms/epoch - 333us/step
Epoch 27/50
804/804 - 0s - loss: 0.5410 - accuracy: 0.7354 - val_loss: 0.5555 - val_accuracy: 0.7300 - 270ms/epoch - 335us/step
Epoch 28/50
804/804 - 0s - loss: 0.5406 - accuracy: 0.7347 - val_loss: 0.5562 - val_accuracy: 0.7287 - 271ms/epoch - 337us/step
Epoch 29/50
804/804 - 0s - loss: 0.5411 - accuracy: 0.7352 - val_loss: 0.5536 - val_accuracy: 0.7307 - 272ms/epoch - 338us/step
Epoch 30/50
804/804 - 0s - loss: 0.5405 - accuracy: 0.7347 - val_loss: 0.5561 - val_accuracy: 0.7299 - 419ms/epoch - 521us/step
Epoch 31/50
804/804 - 0s - loss: 0.5406 - accuracy: 0.7353 - val_loss: 0.5548 - val_accuracy: 0.7294 - 268ms/epoch - 334us/step
Epoch 32/50
804/804 - 0s - loss: 0.5406 - accuracy: 0.7343 - val_loss: 0.5553 - val_accuracy: 0.7291 - 271ms/epoch - 337us/step
Epoch 33/50
804/804 - 0s - loss: 0.5405 - accuracy: 0.7350 - val_loss: 0.5554 - val_accuracy: 0.7263 - 271ms/epoch - 337us/step
Epoch 34/50
804/804 - 0s - loss: 0.5404 - accuracy: 0.7344 - val_loss: 0.5548 - val_accuracy: 0.7282 - 271ms/epoch - 337us/step
Epoch 35/50
804/804 - 0s - loss: 0.5403 - accuracy: 0.7354 - val_loss: 0.5557 - val_accuracy: 0.7298 - 270ms/epoch - 335us/step
Epoch 36/50
804/804 - 0s - loss: 0.5402 - accuracy: 0.7358 - val_loss: 0.5548 - val_accuracy: 0.7307 - 269ms/epoch - 335us/step
Epoch 37/50
804/804 - 0s - loss: 0.5395 - accuracy: 0.7346 - val_loss: 0.5544 - val_accuracy: 0.7314 - 271ms/epoch - 337us/step
Epoch 38/50
804/804 - 0s - loss: 0.5396 - accuracy: 0.7368 - val_loss: 0.5556 - val_accuracy: 0.7292 - 269ms/epoch - 334us/step
Epoch 39/50
804/804 - 0s - loss: 0.5393 - accuracy: 0.7357 - val_loss: 0.5575 - val_accuracy: 0.7273 - 273ms/epoch - 340us/step
Epoch 40/50
804/804 - 0s - loss: 0.5394 - accuracy: 0.7360 - val_loss: 0.5539 - val_accuracy: 0.7319 - 274ms/epoch - 341us/step
Epoch 41/50
804/804 - 0s - loss: 0.5387 - accuracy: 0.7357 - val_loss: 0.5547 - val_accuracy: 0.7293 - 270ms/epoch - 336us/step
Epoch 42/50
804/804 - 0s - loss: 0.5394 - accuracy: 0.7348 - val_loss: 0.5580 - val_accuracy: 0.7287 - 270ms/epoch - 336us/step
Epoch 43/50
804/804 - 0s - loss: 0.5390 - accuracy: 0.7356 - val_loss: 0.5566 - val_accuracy: 0.7282 - 269ms/epoch - 335us/step
Epoch 44/50
804/804 - 0s - loss: 0.5390 - accuracy: 0.7357 - val_loss: 0.5548 - val_accuracy: 0.7308 - 271ms/epoch - 338us/step
Epoch 45/50
804/804 - 0s - loss: 0.5388 - accuracy: 0.7362 - val_loss: 0.5565 - val_accuracy: 0.7277 - 270ms/epoch - 336us/step
Epoch 46/50
804/804 - 0s - loss: 0.5387 - accuracy: 0.7354 - val_loss: 0.5572 - val_accuracy: 0.7273 - 272ms/epoch - 338us/step
Epoch 47/50
804/804 - 0s - loss: 0.5389 - accuracy: 0.7358 - val_loss: 0.5581 - val_accuracy: 0.7269 - 271ms/epoch - 338us/step
Epoch 48/50
804/804 - 0s - loss: 0.5388 - accuracy: 0.7354 - val_loss: 0.5556 - val_accuracy: 0.7308 - 278ms/epoch - 346us/step
Epoch 49/50
804/804 - 0s - loss: 0.5384 - accuracy: 0.7369 - val_loss: 0.5559 - val_accuracy: 0.7285 - 271ms/epoch - 337us/step
Epoch 50/50
804/804 - 0s - loss: 0.5383 - accuracy: 0.7365 - val_loss: 0.5615 - val_accuracy: 0.7275 - 270ms/epoch - 336us/step

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5615 - accuracy: 0.7275 - 71ms/epoch - 265us/step
Loss: 0.5614665150642395, Accuracy: 0.7274635434150696

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = ('./AlphabetSoup.keras')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = number_input_features//2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [31]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [32]:
# First hidden layer
nn_A1.add(Dense(hidden_nodes_layer1_A1, activation='relu', input_dim=number_input_features))

# Dropout layer
from keras.layers import Dropout
nn_A1.add(Dropout(0.2,input_shape=(hidden_nodes_layer1_A1,)))

# Second hidden layer
nn_A1.add(Dense(hidden_nodes_layer1_A1//2, activation='relu'))
# Dropout layer
nn_A1.add(Dropout(0.2,input_shape=(hidden_nodes_layer1_A1//2,)))

# Third hidden layer
nn_A1.add(Dense(hidden_nodes_layer1_A1//4, activation='relu'))

# Output layer
nn_A1.add(Dense(number_output_neurons, activation='sigmoid'))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dropout (Dropout)           (None, 58)                0

 dense_4 (Dense)             (None, 29)                1711

 dropout_1 (Dropout)         (None, 29)                0

 dense_5 (Dense)             (None, 14)                420

 dense_6 (Dense)             (None, 1)                 15

=================================================================
Total params: 8932 (34.89 KB)
Trainable params: 8932 (34.89 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [48]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, validation_data=(X_test_scaled, y_test),epochs=75)

Epoch 1/75
804/804 [==============================] - 0s 500us/step - loss: 0.5416 - accuracy: 0.7355 - val_loss: 0.5525 - val_accuracy: 0.7317
Epoch 2/75
804/804 [==============================] - 0s 479us/step - loss: 0.5402 - accuracy: 0.7355 - val_loss: 0.5504 - val_accuracy: 0.7322
Epoch 3/75
804/804 [==============================] - 0s 464us/step - loss: 0.5408 - accuracy: 0.7357 - val_loss: 0.5496 - val_accuracy: 0.7305
Epoch 4/75
804/804 [==============================] - 0s 460us/step - loss: 0.5398 - accuracy: 0.7389 - val_loss: 0.5504 - val_accuracy: 0.7306
Epoch 5/75
804/804 [==============================] - 0s 465us/step - loss: 0.5399 - accuracy: 0.7363 - val_loss: 0.5517 - val_accuracy: 0.7298
Epoch 6/75
804/804 [==============================] - 0s 463us/step - loss: 0.5394 - accuracy: 0.7372 - val_loss: 0.5539 - val_accuracy: 0.7314
Epoch 7/75
804/804 [==============================] - 0s 465us/step - loss: 0.5395 - accuracy: 0.7372 - val_loss: 0.5524 - val_accuracy: 0.7307
Epoch 8/75
804/804 [==============================] - 0s 465us/step - loss: 0.5396 - accuracy: 0.7362 - val_loss: 0.5522 - val_accuracy: 0.7291
Epoch 9/75
804/804 [==============================] - 0s 464us/step - loss: 0.5402 - accuracy: 0.7372 - val_loss: 0.5495 - val_accuracy: 0.7325
Epoch 10/75
804/804 [==============================] - 1s 695us/step - loss: 0.5394 - accuracy: 0.7362 - val_loss: 0.5505 - val_accuracy: 0.7321
Epoch 11/75
804/804 [==============================] - 0s 476us/step - loss: 0.5403 - accuracy: 0.7367 - val_loss: 0.5515 - val_accuracy: 0.7299
Epoch 12/75
804/804 [==============================] - 0s 472us/step - loss: 0.5390 - accuracy: 0.7354 - val_loss: 0.5564 - val_accuracy: 0.7306
Epoch 13/75
804/804 [==============================] - 0s 468us/step - loss: 0.5397 - accuracy: 0.7353 - val_loss: 0.5516 - val_accuracy: 0.7307
Epoch 14/75
804/804 [==============================] - 0s 468us/step - loss: 0.5404 - accuracy: 0.7360 - val_loss: 0.5516 - val_accuracy: 0.7317
Epoch 15/75
804/804 [==============================] - 0s 465us/step - loss: 0.5390 - accuracy: 0.7365 - val_loss: 0.5496 - val_accuracy: 0.7333
Epoch 16/75
804/804 [==============================] - 0s 460us/step - loss: 0.5388 - accuracy: 0.7378 - val_loss: 0.5503 - val_accuracy: 0.7313
Epoch 17/75
804/804 [==============================] - 0s 466us/step - loss: 0.5389 - accuracy: 0.7351 - val_loss: 0.5516 - val_accuracy: 0.7322
Epoch 18/75
804/804 [==============================] - 0s 464us/step - loss: 0.5385 - accuracy: 0.7361 - val_loss: 0.5530 - val_accuracy: 0.7305
Epoch 19/75
804/804 [==============================] - 0s 468us/step - loss: 0.5391 - accuracy: 0.7369 - val_loss: 0.5526 - val_accuracy: 0.7319
Epoch 20/75
804/804 [==============================] - 0s 458us/step - loss: 0.5391 - accuracy: 0.7362 - val_loss: 0.5514 - val_accuracy: 0.7304
Epoch 21/75
804/804 [==============================] - 0s 464us/step - loss: 0.5382 - accuracy: 0.7374 - val_loss: 0.5531 - val_accuracy: 0.7319
Epoch 22/75
804/804 [==============================] - 0s 466us/step - loss: 0.5394 - accuracy: 0.7368 - val_loss: 0.5501 - val_accuracy: 0.7320
Epoch 23/75
804/804 [==============================] - 0s 462us/step - loss: 0.5387 - accuracy: 0.7372 - val_loss: 0.5525 - val_accuracy: 0.7329
Epoch 24/75
804/804 [==============================] - 0s 465us/step - loss: 0.5387 - accuracy: 0.7374 - val_loss: 0.5505 - val_accuracy: 0.7320
Epoch 25/75
804/804 [==============================] - 0s 466us/step - loss: 0.5387 - accuracy: 0.7372 - val_loss: 0.5522 - val_accuracy: 0.7321
Epoch 26/75
804/804 [==============================] - 0s 469us/step - loss: 0.5385 - accuracy: 0.7378 - val_loss: 0.5490 - val_accuracy: 0.7327
Epoch 27/75
804/804 [==============================] - 0s 465us/step - loss: 0.5381 - accuracy: 0.7374 - val_loss: 0.5518 - val_accuracy: 0.7324
Epoch 28/75
804/804 [==============================] - 0s 467us/step - loss: 0.5382 - accuracy: 0.7376 - val_loss: 0.5507 - val_accuracy: 0.7327
Epoch 29/75
804/804 [==============================] - 0s 470us/step - loss: 0.5370 - accuracy: 0.7372 - val_loss: 0.5531 - val_accuracy: 0.7322
Epoch 30/75
804/804 [==============================] - 0s 471us/step - loss: 0.5374 - accuracy: 0.7369 - val_loss: 0.5537 - val_accuracy: 0.7313
Epoch 31/75
804/804 [==============================] - 1s 629us/step - loss: 0.5379 - accuracy: 0.7384 - val_loss: 0.5520 - val_accuracy: 0.7315
Epoch 32/75
804/804 [==============================] - 0s 467us/step - loss: 0.5381 - accuracy: 0.7381 - val_loss: 0.5529 - val_accuracy: 0.7320
Epoch 33/75
804/804 [==============================] - 0s 465us/step - loss: 0.5371 - accuracy: 0.7378 - val_loss: 0.5506 - val_accuracy: 0.7314
Epoch 34/75
804/804 [==============================] - 0s 468us/step - loss: 0.5373 - accuracy: 0.7383 - val_loss: 0.5513 - val_accuracy: 0.7324
Epoch 35/75
804/804 [==============================] - 0s 466us/step - loss: 0.5378 - accuracy: 0.7378 - val_loss: 0.5513 - val_accuracy: 0.7305
Epoch 36/75
804/804 [==============================] - 0s 471us/step - loss: 0.5370 - accuracy: 0.7367 - val_loss: 0.5512 - val_accuracy: 0.7312
Epoch 37/75
804/804 [==============================] - 0s 470us/step - loss: 0.5378 - accuracy: 0.7382 - val_loss: 0.5513 - val_accuracy: 0.7313
Epoch 38/75
804/804 [==============================] - 0s 470us/step - loss: 0.5373 - accuracy: 0.7377 - val_loss: 0.5499 - val_accuracy: 0.7320
Epoch 39/75
804/804 [==============================] - 0s 471us/step - loss: 0.5387 - accuracy: 0.7361 - val_loss: 0.5517 - val_accuracy: 0.7319
Epoch 40/75
804/804 [==============================] - 0s 470us/step - loss: 0.5372 - accuracy: 0.7388 - val_loss: 0.5514 - val_accuracy: 0.7307
Epoch 41/75
804/804 [==============================] - 0s 469us/step - loss: 0.5370 - accuracy: 0.7382 - val_loss: 0.5519 - val_accuracy: 0.7306
Epoch 42/75
804/804 [==============================] - 0s 468us/step - loss: 0.5374 - accuracy: 0.7371 - val_loss: 0.5516 - val_accuracy: 0.7308
Epoch 43/75
804/804 [==============================] - 0s 468us/step - loss: 0.5377 - accuracy: 0.7381 - val_loss: 0.5502 - val_accuracy: 0.7305
Epoch 44/75
804/804 [==============================] - 0s 467us/step - loss: 0.5374 - accuracy: 0.7382 - val_loss: 0.5559 - val_accuracy: 0.7322
Epoch 45/75
804/804 [==============================] - 0s 468us/step - loss: 0.5380 - accuracy: 0.7369 - val_loss: 0.5542 - val_accuracy: 0.7313
Epoch 46/75
804/804 [==============================] - 0s 468us/step - loss: 0.5371 - accuracy: 0.7379 - val_loss: 0.5563 - val_accuracy: 0.7328
Epoch 47/75
804/804 [==============================] - 0s 465us/step - loss: 0.5367 - accuracy: 0.7383 - val_loss: 0.5521 - val_accuracy: 0.7307
Epoch 48/75
804/804 [==============================] - 0s 467us/step - loss: 0.5382 - accuracy: 0.7387 - val_loss: 0.5491 - val_accuracy: 0.7314
Epoch 49/75
804/804 [==============================] - 0s 466us/step - loss: 0.5367 - accuracy: 0.7376 - val_loss: 0.5513 - val_accuracy: 0.7308
Epoch 50/75
804/804 [==============================] - 0s 465us/step - loss: 0.5369 - accuracy: 0.7383 - val_loss: 0.5502 - val_accuracy: 0.7322
Epoch 51/75
804/804 [==============================] - 0s 465us/step - loss: 0.5365 - accuracy: 0.7385 - val_loss: 0.5524 - val_accuracy: 0.7308
Epoch 52/75
804/804 [==============================] - 0s 467us/step - loss: 0.5371 - accuracy: 0.7382 - val_loss: 0.5523 - val_accuracy: 0.7319
Epoch 53/75
804/804 [==============================] - 0s 467us/step - loss: 0.5364 - accuracy: 0.7385 - val_loss: 0.5504 - val_accuracy: 0.7314
Epoch 54/75
804/804 [==============================] - 0s 464us/step - loss: 0.5364 - accuracy: 0.7379 - val_loss: 0.5509 - val_accuracy: 0.7298
Epoch 55/75
804/804 [==============================] - 0s 464us/step - loss: 0.5367 - accuracy: 0.7378 - val_loss: 0.5490 - val_accuracy: 0.7296
Epoch 56/75
804/804 [==============================] - 0s 466us/step - loss: 0.5365 - accuracy: 0.7388 - val_loss: 0.5510 - val_accuracy: 0.7299
Epoch 57/75
804/804 [==============================] - 0s 469us/step - loss: 0.5371 - accuracy: 0.7378 - val_loss: 0.5495 - val_accuracy: 0.7317
Epoch 58/75
804/804 [==============================] - 0s 465us/step - loss: 0.5362 - accuracy: 0.7395 - val_loss: 0.5499 - val_accuracy: 0.7315
Epoch 59/75
804/804 [==============================] - 1s 682us/step - loss: 0.5375 - accuracy: 0.7385 - val_loss: 0.5515 - val_accuracy: 0.7317
Epoch 60/75
804/804 [==============================] - 0s 465us/step - loss: 0.5363 - accuracy: 0.7375 - val_loss: 0.5538 - val_accuracy: 0.7325
Epoch 61/75
804/804 [==============================] - 0s 477us/step - loss: 0.5368 - accuracy: 0.7392 - val_loss: 0.5514 - val_accuracy: 0.7312
Epoch 62/75
804/804 [==============================] - 0s 466us/step - loss: 0.5369 - accuracy: 0.7372 - val_loss: 0.5533 - val_accuracy: 0.7299
Epoch 63/75
804/804 [==============================] - 0s 485us/step - loss: 0.5360 - accuracy: 0.7389 - val_loss: 0.5532 - val_accuracy: 0.7324
Epoch 64/75
804/804 [==============================] - 0s 474us/step - loss: 0.5366 - accuracy: 0.7392 - val_loss: 0.5516 - val_accuracy: 0.7322
Epoch 65/75
804/804 [==============================] - 0s 473us/step - loss: 0.5364 - accuracy: 0.7388 - val_loss: 0.5523 - val_accuracy: 0.7325
Epoch 66/75
804/804 [==============================] - 0s 474us/step - loss: 0.5376 - accuracy: 0.7394 - val_loss: 0.5517 - val_accuracy: 0.7311
Epoch 67/75
804/804 [==============================] - 0s 472us/step - loss: 0.5357 - accuracy: 0.7392 - val_loss: 0.5537 - val_accuracy: 0.7300
Epoch 68/75
804/804 [==============================] - 0s 474us/step - loss: 0.5365 - accuracy: 0.7388 - val_loss: 0.5517 - val_accuracy: 0.7313
Epoch 69/75
804/804 [==============================] - 0s 470us/step - loss: 0.5368 - accuracy: 0.7388 - val_loss: 0.5538 - val_accuracy: 0.7299
Epoch 70/75
804/804 [==============================] - 0s 465us/step - loss: 0.5358 - accuracy: 0.7390 - val_loss: 0.5550 - val_accuracy: 0.7306
Epoch 71/75
804/804 [==============================] - 0s 468us/step - loss: 0.5349 - accuracy: 0.7392 - val_loss: 0.5528 - val_accuracy: 0.7320
Epoch 72/75
804/804 [==============================] - 0s 470us/step - loss: 0.5363 - accuracy: 0.7386 - val_loss: 0.5521 - val_accuracy: 0.7320
Epoch 73/75
804/804 [==============================] - 0s 475us/step - loss: 0.5362 - accuracy: 0.7378 - val_loss: 0.5523 - val_accuracy: 0.7298
Epoch 74/75
804/804 [==============================] - 0s 473us/step - loss: 0.5365 - accuracy: 0.7388 - val_loss: 0.5508 - val_accuracy: 0.7303
Epoch 75/75
804/804 [==============================] - 0s 473us/step - loss: 0.5363 - accuracy: 0.7379 - val_loss: 0.5508 - val_accuracy: 0.7322

#### Alternative Model 2

In [49]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [50]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [51]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 50

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

50

In [52]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [53]:
# First hidden layer
nn_A2.add(Dense(hidden_nodes_layer1_A2, activation='tanh', input_dim=number_input_features))

# Dropout layer
from keras.layers import Dropout
nn_A2.add(Dropout(0.2,input_shape=(hidden_nodes_layer1_A2,)))

# Second hidden layer
nn_A2.add(Dense(hidden_nodes_layer1_A2//2, activation='tanh'))

# Third hidden layer
nn_A2.add(Dense(hidden_nodes_layer1_A2//4, activation='tanh'))

# Output layer
nn_A2.add(Dense(number_output_neurons, activation='sigmoid'))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 50)                5850

 dropout_3 (Dropout)         (None, 50)                0

 dense_12 (Dense)            (None, 25)                1275

 dense_13 (Dense)            (None, 12)                312

 dense_14 (Dense)            (None, 1)                 13

=================================================================
Total params: 7450 (29.10 KB)
Trainable params: 7450 (29.10 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [54]:
# Compile the model
nn_A2.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [55]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, validation_data=(X_test_scaled, y_test),epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 610us/step - loss: 0.5766 - accuracy: 0.7139 - val_loss: 0.5592 - val_accuracy: 0.7283
Epoch 2/100
804/804 [==============================] - 0s 455us/step - loss: 0.5578 - accuracy: 0.7269 - val_loss: 0.5545 - val_accuracy: 0.7319
Epoch 3/100
804/804 [==============================] - 0s 447us/step - loss: 0.5529 - accuracy: 0.7296 - val_loss: 0.5532 - val_accuracy: 0.7297
Epoch 4/100
804/804 [==============================] - 0s 447us/step - loss: 0.5512 - accuracy: 0.7301 - val_loss: 0.5526 - val_accuracy: 0.7300
Epoch 5/100
804/804 [==============================] - 0s 446us/step - loss: 0.5491 - accuracy: 0.7310 - val_loss: 0.5508 - val_accuracy: 0.7318
Epoch 6/100
804/804 [==============================] - 0s 446us/step - loss: 0.5488 - accuracy: 0.7317 - val_loss: 0.5520 - val_accuracy: 0.7296
Epoch 7/100
804/804 [==============================] - 0s 447us/step - loss: 0.5475 - accuracy: 0.7327 - val_loss: 0.5523 - val_accuracy: 0.7311
Epoch 8/100
804/804 [==============================] - 1s 647us/step - loss: 0.5468 - accuracy: 0.7317 - val_loss: 0.5514 - val_accuracy: 0.7277
Epoch 9/100
804/804 [==============================] - 0s 454us/step - loss: 0.5454 - accuracy: 0.7335 - val_loss: 0.5510 - val_accuracy: 0.7289
Epoch 10/100
804/804 [==============================] - 0s 446us/step - loss: 0.5454 - accuracy: 0.7332 - val_loss: 0.5534 - val_accuracy: 0.7299
Epoch 11/100
804/804 [==============================] - 0s 451us/step - loss: 0.5451 - accuracy: 0.7329 - val_loss: 0.5507 - val_accuracy: 0.7272
Epoch 12/100
804/804 [==============================] - 0s 447us/step - loss: 0.5429 - accuracy: 0.7358 - val_loss: 0.5516 - val_accuracy: 0.7300
Epoch 13/100
804/804 [==============================] - 0s 446us/step - loss: 0.5443 - accuracy: 0.7323 - val_loss: 0.5518 - val_accuracy: 0.7262
Epoch 14/100
804/804 [==============================] - 0s 446us/step - loss: 0.5435 - accuracy: 0.7339 - val_loss: 0.5497 - val_accuracy: 0.7318
Epoch 15/100
804/804 [==============================] - 0s 449us/step - loss: 0.5420 - accuracy: 0.7359 - val_loss: 0.5493 - val_accuracy: 0.7325
Epoch 16/100
804/804 [==============================] - 0s 445us/step - loss: 0.5425 - accuracy: 0.7336 - val_loss: 0.5505 - val_accuracy: 0.7317
Epoch 17/100
804/804 [==============================] - 0s 470us/step - loss: 0.5420 - accuracy: 0.7367 - val_loss: 0.5491 - val_accuracy: 0.7313
Epoch 18/100
804/804 [==============================] - 0s 449us/step - loss: 0.5414 - accuracy: 0.7369 - val_loss: 0.5508 - val_accuracy: 0.7303
Epoch 19/100
804/804 [==============================] - 0s 446us/step - loss: 0.5422 - accuracy: 0.7350 - val_loss: 0.5503 - val_accuracy: 0.7312
Epoch 20/100
804/804 [==============================] - 0s 447us/step - loss: 0.5409 - accuracy: 0.7366 - val_loss: 0.5497 - val_accuracy: 0.7292
Epoch 21/100
804/804 [==============================] - 0s 447us/step - loss: 0.5415 - accuracy: 0.7356 - val_loss: 0.5492 - val_accuracy: 0.7321
Epoch 22/100
804/804 [==============================] - 0s 446us/step - loss: 0.5404 - accuracy: 0.7372 - val_loss: 0.5505 - val_accuracy: 0.7301
Epoch 23/100
804/804 [==============================] - 0s 426us/step - loss: 0.5403 - accuracy: 0.7353 - val_loss: 0.5501 - val_accuracy: 0.7301
Epoch 24/100
804/804 [==============================] - 0s 453us/step - loss: 0.5401 - accuracy: 0.7360 - val_loss: 0.5499 - val_accuracy: 0.7303
Epoch 25/100
804/804 [==============================] - 0s 448us/step - loss: 0.5398 - accuracy: 0.7367 - val_loss: 0.5499 - val_accuracy: 0.7282
Epoch 26/100
804/804 [==============================] - 0s 448us/step - loss: 0.5396 - accuracy: 0.7376 - val_loss: 0.5488 - val_accuracy: 0.7311
Epoch 27/100
804/804 [==============================] - 0s 449us/step - loss: 0.5390 - accuracy: 0.7369 - val_loss: 0.5486 - val_accuracy: 0.7331
Epoch 28/100
804/804 [==============================] - 0s 448us/step - loss: 0.5387 - accuracy: 0.7369 - val_loss: 0.5499 - val_accuracy: 0.7317
Epoch 29/100
804/804 [==============================] - 0s 446us/step - loss: 0.5387 - accuracy: 0.7384 - val_loss: 0.5488 - val_accuracy: 0.7312
Epoch 30/100
804/804 [==============================] - 0s 449us/step - loss: 0.5393 - accuracy: 0.7365 - val_loss: 0.5487 - val_accuracy: 0.7333
Epoch 31/100
804/804 [==============================] - 0s 455us/step - loss: 0.5391 - accuracy: 0.7365 - val_loss: 0.5495 - val_accuracy: 0.7311
Epoch 32/100
804/804 [==============================] - 0s 447us/step - loss: 0.5382 - accuracy: 0.7374 - val_loss: 0.5492 - val_accuracy: 0.7287
Epoch 33/100
804/804 [==============================] - 0s 561us/step - loss: 0.5383 - accuracy: 0.7377 - val_loss: 0.5495 - val_accuracy: 0.7308
Epoch 34/100
804/804 [==============================] - 0s 454us/step - loss: 0.5376 - accuracy: 0.7374 - val_loss: 0.5504 - val_accuracy: 0.7311
Epoch 35/100
804/804 [==============================] - 1s 671us/step - loss: 0.5378 - accuracy: 0.7379 - val_loss: 0.5501 - val_accuracy: 0.7321
Epoch 36/100
804/804 [==============================] - 0s 447us/step - loss: 0.5376 - accuracy: 0.7383 - val_loss: 0.5501 - val_accuracy: 0.7304
Epoch 37/100
804/804 [==============================] - 0s 450us/step - loss: 0.5367 - accuracy: 0.7370 - val_loss: 0.5495 - val_accuracy: 0.7312
Epoch 38/100
804/804 [==============================] - 0s 448us/step - loss: 0.5372 - accuracy: 0.7385 - val_loss: 0.5489 - val_accuracy: 0.7320
Epoch 39/100
804/804 [==============================] - 0s 442us/step - loss: 0.5365 - accuracy: 0.7384 - val_loss: 0.5485 - val_accuracy: 0.7332
Epoch 40/100
804/804 [==============================] - 0s 448us/step - loss: 0.5374 - accuracy: 0.7377 - val_loss: 0.5489 - val_accuracy: 0.7286
Epoch 41/100
804/804 [==============================] - 0s 450us/step - loss: 0.5363 - accuracy: 0.7392 - val_loss: 0.5499 - val_accuracy: 0.7277
Epoch 42/100
804/804 [==============================] - 0s 449us/step - loss: 0.5368 - accuracy: 0.7374 - val_loss: 0.5503 - val_accuracy: 0.7311
Epoch 43/100
804/804 [==============================] - 0s 449us/step - loss: 0.5374 - accuracy: 0.7385 - val_loss: 0.5492 - val_accuracy: 0.7301
Epoch 44/100
804/804 [==============================] - 0s 445us/step - loss: 0.5370 - accuracy: 0.7381 - val_loss: 0.5495 - val_accuracy: 0.7297
Epoch 45/100
804/804 [==============================] - 0s 448us/step - loss: 0.5362 - accuracy: 0.7389 - val_loss: 0.5497 - val_accuracy: 0.7308
Epoch 46/100
804/804 [==============================] - 0s 447us/step - loss: 0.5363 - accuracy: 0.7396 - val_loss: 0.5494 - val_accuracy: 0.7301
Epoch 47/100
804/804 [==============================] - 0s 448us/step - loss: 0.5365 - accuracy: 0.7383 - val_loss: 0.5492 - val_accuracy: 0.7312
Epoch 48/100
804/804 [==============================] - 0s 448us/step - loss: 0.5360 - accuracy: 0.7393 - val_loss: 0.5504 - val_accuracy: 0.7303
Epoch 49/100
804/804 [==============================] - 0s 449us/step - loss: 0.5362 - accuracy: 0.7401 - val_loss: 0.5491 - val_accuracy: 0.7298
Epoch 50/100
804/804 [==============================] - 0s 448us/step - loss: 0.5362 - accuracy: 0.7384 - val_loss: 0.5490 - val_accuracy: 0.7311
Epoch 51/100
804/804 [==============================] - 0s 449us/step - loss: 0.5354 - accuracy: 0.7393 - val_loss: 0.5487 - val_accuracy: 0.7317
Epoch 52/100
804/804 [==============================] - 0s 447us/step - loss: 0.5355 - accuracy: 0.7394 - val_loss: 0.5489 - val_accuracy: 0.7305
Epoch 53/100
804/804 [==============================] - 0s 448us/step - loss: 0.5352 - accuracy: 0.7386 - val_loss: 0.5496 - val_accuracy: 0.7263
Epoch 54/100
804/804 [==============================] - 0s 454us/step - loss: 0.5363 - accuracy: 0.7390 - val_loss: 0.5481 - val_accuracy: 0.7313
Epoch 55/100
804/804 [==============================] - 0s 447us/step - loss: 0.5349 - accuracy: 0.7392 - val_loss: 0.5485 - val_accuracy: 0.7312
Epoch 56/100
804/804 [==============================] - 0s 450us/step - loss: 0.5363 - accuracy: 0.7388 - val_loss: 0.5484 - val_accuracy: 0.7299
Epoch 57/100
804/804 [==============================] - 0s 450us/step - loss: 0.5352 - accuracy: 0.7409 - val_loss: 0.5483 - val_accuracy: 0.7322
Epoch 58/100
804/804 [==============================] - 0s 449us/step - loss: 0.5342 - accuracy: 0.7397 - val_loss: 0.5503 - val_accuracy: 0.7297
Epoch 59/100
804/804 [==============================] - 0s 448us/step - loss: 0.5351 - accuracy: 0.7402 - val_loss: 0.5492 - val_accuracy: 0.7294
Epoch 60/100
804/804 [==============================] - 0s 450us/step - loss: 0.5346 - accuracy: 0.7396 - val_loss: 0.5484 - val_accuracy: 0.7306
Epoch 61/100
804/804 [==============================] - 0s 451us/step - loss: 0.5351 - accuracy: 0.7385 - val_loss: 0.5491 - val_accuracy: 0.7292
Epoch 62/100
804/804 [==============================] - 0s 451us/step - loss: 0.5344 - accuracy: 0.7378 - val_loss: 0.5503 - val_accuracy: 0.7308
Epoch 63/100
804/804 [==============================] - 0s 451us/step - loss: 0.5350 - accuracy: 0.7395 - val_loss: 0.5487 - val_accuracy: 0.7312
Epoch 64/100
804/804 [==============================] - 1s 671us/step - loss: 0.5348 - accuracy: 0.7393 - val_loss: 0.5488 - val_accuracy: 0.7299
Epoch 65/100
804/804 [==============================] - 0s 460us/step - loss: 0.5350 - accuracy: 0.7396 - val_loss: 0.5498 - val_accuracy: 0.7303
Epoch 66/100
804/804 [==============================] - 0s 439us/step - loss: 0.5352 - accuracy: 0.7393 - val_loss: 0.5493 - val_accuracy: 0.7303
Epoch 67/100
804/804 [==============================] - 0s 456us/step - loss: 0.5346 - accuracy: 0.7395 - val_loss: 0.5489 - val_accuracy: 0.7304
Epoch 68/100
804/804 [==============================] - 0s 462us/step - loss: 0.5344 - accuracy: 0.7398 - val_loss: 0.5491 - val_accuracy: 0.7304
Epoch 69/100
804/804 [==============================] - 0s 465us/step - loss: 0.5344 - accuracy: 0.7400 - val_loss: 0.5493 - val_accuracy: 0.7310
Epoch 70/100
804/804 [==============================] - 0s 466us/step - loss: 0.5347 - accuracy: 0.7393 - val_loss: 0.5492 - val_accuracy: 0.7296
Epoch 71/100
804/804 [==============================] - 0s 466us/step - loss: 0.5337 - accuracy: 0.7407 - val_loss: 0.5500 - val_accuracy: 0.7314
Epoch 72/100
804/804 [==============================] - 0s 465us/step - loss: 0.5347 - accuracy: 0.7399 - val_loss: 0.5496 - val_accuracy: 0.7300
Epoch 73/100
804/804 [==============================] - 0s 468us/step - loss: 0.5344 - accuracy: 0.7391 - val_loss: 0.5493 - val_accuracy: 0.7300
Epoch 74/100
804/804 [==============================] - 0s 470us/step - loss: 0.5338 - accuracy: 0.7402 - val_loss: 0.5494 - val_accuracy: 0.7299
Epoch 75/100
804/804 [==============================] - 0s 464us/step - loss: 0.5345 - accuracy: 0.7388 - val_loss: 0.5492 - val_accuracy: 0.7291
Epoch 76/100
804/804 [==============================] - 0s 456us/step - loss: 0.5334 - accuracy: 0.7408 - val_loss: 0.5495 - val_accuracy: 0.7306
Epoch 77/100
804/804 [==============================] - 0s 487us/step - loss: 0.5338 - accuracy: 0.7404 - val_loss: 0.5496 - val_accuracy: 0.7305
Epoch 78/100
804/804 [==============================] - 0s 453us/step - loss: 0.5337 - accuracy: 0.7407 - val_loss: 0.5484 - val_accuracy: 0.7311
Epoch 79/100
804/804 [==============================] - 0s 459us/step - loss: 0.5344 - accuracy: 0.7390 - val_loss: 0.5488 - val_accuracy: 0.7320
Epoch 80/100
804/804 [==============================] - 0s 466us/step - loss: 0.5343 - accuracy: 0.7402 - val_loss: 0.5488 - val_accuracy: 0.7317
Epoch 81/100
804/804 [==============================] - 0s 469us/step - loss: 0.5335 - accuracy: 0.7396 - val_loss: 0.5491 - val_accuracy: 0.7319
Epoch 82/100
804/804 [==============================] - 0s 460us/step - loss: 0.5335 - accuracy: 0.7402 - val_loss: 0.5483 - val_accuracy: 0.7320
Epoch 83/100
804/804 [==============================] - 0s 457us/step - loss: 0.5342 - accuracy: 0.7388 - val_loss: 0.5484 - val_accuracy: 0.7305
Epoch 84/100
804/804 [==============================] - 0s 454us/step - loss: 0.5342 - accuracy: 0.7401 - val_loss: 0.5485 - val_accuracy: 0.7329
Epoch 85/100
804/804 [==============================] - 0s 458us/step - loss: 0.5336 - accuracy: 0.7399 - val_loss: 0.5484 - val_accuracy: 0.7321
Epoch 86/100
804/804 [==============================] - 0s 456us/step - loss: 0.5331 - accuracy: 0.7402 - val_loss: 0.5495 - val_accuracy: 0.7326
Epoch 87/100
804/804 [==============================] - 0s 456us/step - loss: 0.5344 - accuracy: 0.7399 - val_loss: 0.5491 - val_accuracy: 0.7305
Epoch 88/100
804/804 [==============================] - 0s 464us/step - loss: 0.5333 - accuracy: 0.7401 - val_loss: 0.5495 - val_accuracy: 0.7306
Epoch 89/100
804/804 [==============================] - 0s 466us/step - loss: 0.5342 - accuracy: 0.7391 - val_loss: 0.5494 - val_accuracy: 0.7310
Epoch 90/100
804/804 [==============================] - 1s 658us/step - loss: 0.5323 - accuracy: 0.7413 - val_loss: 0.5491 - val_accuracy: 0.7311
Epoch 91/100
804/804 [==============================] - 0s 464us/step - loss: 0.5331 - accuracy: 0.7400 - val_loss: 0.5493 - val_accuracy: 0.7317
Epoch 92/100
804/804 [==============================] - 0s 466us/step - loss: 0.5339 - accuracy: 0.7398 - val_loss: 0.5495 - val_accuracy: 0.7307
Epoch 93/100
804/804 [==============================] - 0s 455us/step - loss: 0.5327 - accuracy: 0.7395 - val_loss: 0.5493 - val_accuracy: 0.7304
Epoch 94/100
804/804 [==============================] - 0s 453us/step - loss: 0.5327 - accuracy: 0.7409 - val_loss: 0.5497 - val_accuracy: 0.7296
Epoch 95/100
804/804 [==============================] - 0s 460us/step - loss: 0.5327 - accuracy: 0.7384 - val_loss: 0.5493 - val_accuracy: 0.7300
Epoch 96/100
804/804 [==============================] - 0s 453us/step - loss: 0.5323 - accuracy: 0.7412 - val_loss: 0.5499 - val_accuracy: 0.7298
Epoch 97/100
804/804 [==============================] - 0s 461us/step - loss: 0.5321 - accuracy: 0.7409 - val_loss: 0.5505 - val_accuracy: 0.7310
Epoch 98/100
804/804 [==============================] - 0s 469us/step - loss: 0.5324 - accuracy: 0.7411 - val_loss: 0.5496 - val_accuracy: 0.7306
Epoch 99/100
804/804 [==============================] - 0s 464us/step - loss: 0.5333 - accuracy: 0.7406 - val_loss: 0.5495 - val_accuracy: 0.7301
Epoch 100/100
804/804 [==============================] - 0s 458us/step - loss: 0.5328 - accuracy: 0.7406 - val_loss: 0.5501 - val_accuracy: 0.7294

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [43]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5506 - accuracy: 0.7318 - 73ms/epoch - 272us/step
Loss: 0.5505622625350952, Accuracy: 0.7317784428596497

In [44]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5511 - accuracy: 0.7312 - 71ms/epoch - 265us/step
Loss: 0.5510718822479248, Accuracy: 0.731195330619812

### Step 3: Save each of your alternative models as an HDF5 file.

In [45]:
# Set the file path for the first alternative model
file_path = ('./AlphabetSoupA1.keras')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [46]:
# Set the file path for the second alternative model
file_path = ('./AlphabetSoupA2.keras')

# Export your model to a HDF5 file
nn_A2.save(file_path)